<div class="container">
    <br><br><br>
    <div class="d-flex justify-content-between">
        <h1>Liste des produits</h1>
        <button class="btn btn-primary" (click)="fetProducts()">Refresh Data</button>
        <button class="btn btn-success" (click)="storeProduct()">New Product</button>
    </div>
    <br>
    <input type="text" ngModel (ngModelChange)="search($event)" class="form-control" placeholder="Rechercher un produit">
    <br>

    <table class="table table-striped border border-1">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
                <th scope="col">Prix</th>
                <th scope="col">Note</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <th scope="row" >{{item.id}}</th>
                <td>{{item.title}}</td>
                <td>{{item.description}}</td>
                <td>
                    <img src="{{item.image}}" alt="" class="icon">
                </td>
                <td>{{item.price}} FCFA</td>
                <td>{{item.rating.rate}}</td>
            </tr>
        </tbody>
    </table>
</div>